/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-finell-ingredients {
	.mffb-ingredient {
		display: flex;

		.mffb-ingredient-attr {
			flex: 1;
			margin-right: 4px;
		}

		.mffb-ingredient-name {
			flex-grow: 2;
		}

		.mffb-ingredient-extra {
			flex-grow: 2;
		}
	}
}


